footer{
    padding: 20px 0 80px;
    text-align: center;

    h2{
        font-size: 56px;
        text-transform: none;
    }

    .social{
        margin: 80px auto 100px;
    }

    p{
        font-family: "Open sans";
        font-size: 18px;
    }
}