footer {
    padding: 20px 0 90px;
    text-align: center;

    h2 {
        font-size: 56px;
        text-transform: none;
        @include breakpoint(extra-small) {
            font-size: 30px;
        }
    }

    .social {
        margin: 80px auto 95px;
    }

    p {
        margin: 0;
        font-size: 18px;
    }
}