header {
    position: absolute;
    width: 100%;
    @include user-select(none);
    @include transition-property(all);
    @include transition-duration(800ms);

    .container-header {
        max-width: 1190px;
        margin: 0 auto;
        background-color: transparent;
        border: none;

        .btn-style {
            background-color: #ff7800;

            .span-style {
                background-color: #ffffff;
            }
        }

        .logo {
            float: left;
            width: 224px;
            height: 93px;
            margin-top: 19px;
            background-image: url(../../images/logo.png);
            background-repeat: no-repeat;
            background-size: cover;
            @include breakpoint(medium) {
                margin-left: 15px;
            }
            @include breakpoint(small) {
                margin-left: 15px;
            }
            @include breakpoint(extra-small) {
                width: 122px;
                height: 58px;
                margin-left: 15px;
            }
        }

        .list {
            margin: 0 auto;
            text-align: center;
            @include breakpoint(extra-small) {
                background-color: rgba(#ffffff, 0.8);
            }

            li {
                margin-right: 44px;
                @include breakpoint(small) {
                    margin-right: 20px;
                }
                @include breakpoint(extra-small) {
                    margin-right: 0;
                }

                &:last-child {
                    margin-right: 0;
                    margin-left: 40px;
                    @include breakpoint(extra-small) {
                        margin-left: 0;
                    }
                    a {
                        position: relative;

                        &::before {
                            content: "";
                            position: absolute;
                            top: 43px;
                            right: 30px;
                            width: 34px;
                            height: 34px;
                            background-image: url("../../images/sprites/basket.png");
                            background-repeat: no-repeat;
                            @include breakpoint(extra-small) {
                                top: 7px;
                            }
                        }
                    }
                }

                a {
                    display: inline-block;
                    padding: 0;
                    font-family: "Roboto";
                    font-weight: 300;
                    font-size: 22px;
                    line-height: 120px;
                    text-transform: uppercase;
                    color: #000000;
                    @include transition-property(all);
                    @include transition-duration(300ms);
                    @include breakpoint(small) {
                        font-size: 20px;
                    }
                    @include breakpoint(extra-small) {
                        line-height: 50px;
                    }
                    &:hover {
                        color: #ff7800;

                    }
                }
            }
        }
    }

    &.scroll-open {
        position: fixed;
        z-index: 1;
        background-color: rgba(#ffffff, 0.8);

        &:hover {
            background-color: #ffffff;
        }

        .container-header {
            max-width: 1435px;

            .logo {
                width: 122px;
                height: 58px;
                margin: 8px 0 0 15px;
            }

            .list {

                li {
                    margin-right: 36px;
                    @include breakpoint(extra-small) {
                        margin-right: 0;
                    }

                    &:last-child {
                        margin-right: 0;

                        a {

                            &::before {
                                top: 20px;
                                @include breakpoint(extra-small) {
                                    top: 8px;
                                }
                            }
                        }
                    }

                    a {
                        font-size: 18px;
                        line-height: 74px;
                        @include breakpoint(extra-small) {
                            line-height: 50px;
                        }
                    }
                }
            }
        }
    }
}