.button {
    display: inline-block;
    background-color: #ff7800;
    font-family: "Roboto Regular";
    font-size: 27px;
    text-transform: uppercase;
    color: #ffffff;

    &:hover{
        background-color: #99c8ef;
        text-decoration: none;
        color: #793900;
        @include transition-property(all);
        @include transition-duration(300ms);
    }
}