.button {
    display: inline-block;
    background-color: #ff7800;
    font-family: "Roboto";
    font-weight: 400;
    font-size: 27px;
    text-transform: uppercase;
    color: #ffffff;
    @include user-select(none);
    @include transition-property(background-color, color);
    @include transition-duration(300ms);

    &:hover{
        background-color: #99c8ef;
        text-decoration: none;
        color: #793900;
    }
}