.faq {
    max-width: 1524px;
    margin: 0 auto;
    padding: 80px 0 40px;
    @include breakpoint(extra-small) {
        padding: 50px 15px;
    }

    h2 {
        text-align: center;
    }

    .faq-list {
        margin-top: 50px;
        font-size: 0;
        text-align: center;
        @include user-select(none);

        li {
            display: inline-block;

            &:nth-child(1), &:nth-child(2) {
                margin-right: 55px;
                @include breakpoint(extra-small) {
                    margin-right: 0;
                }
            }
            &.active > a {
                color: #ffa264;
            }

            a {
                font-size: 24px;
                text-decoration: underline;
                @include breakpoint(extra-small) {
                    padding: 10px 10px;
                    font-size: 16px;
                }

                &:hover {
                    color: #ffa264;
                }
            }
        }

    }

    .content-style {
        margin-top: 20px;
        text-align: left;

        P {
            margin: 0;
            font-weight: 300;
            line-height: 45px;
            @include breakpoint(extra-small) {
                font-size: 16px;
                line-height: 25px;
                text-align: justify;
            }

            &:nth-child(2n+1) {
                margin-top: 30px;
                color: #ffa264;
            }

        }
    }
}
