.how-it-work {
    max-width: 1240px;
    margin: 0 auto;
    padding: 166px 0 136px;
    border-bottom: 1px solid #898989;
    text-align: center;
    @include breakpoint(small) {
        padding-top: 70px;
    }

    @include breakpoint(extra-small) {
        padding: 50px 15px;
    }

    .wrapper {
        margin-top: 80px;
        font-size: 0;

        figure {
            display: inline-block;
            margin-top: 30px;

            &:nth-child(1) {
                width: 180px;
                margin-right: 190px;
            }
            &:nth-child(2) {
                width: 175px;
                margin-right: 180px;
            }
            &:nth-child(3) {
                text-align: left;
                width: 215px;
                @include breakpoint(extra-small) {
                    text-align: center;
                }
            }
            &:nth-child(1), &:nth-child(2), {
                @include breakpoint(small) {
                    margin-right: 70px
                }
            }
            &:nth-child(1), &:nth-child(2), &:nth-child(3) {
                @include breakpoint(extra-small) {
                    display: block;
                    min-width: 275px;
                    margin: 30px auto 0;
                }
            }

            img {
                @include user-select(none);
            }

            figcaption {
                margin-top: 50px;
                text-align: left;
                @include breakpoint(extra-small) {
                    margin-top: 15px;
                    border-bottom: 1px solid #c6c6c6;
                    text-align: center;
                }

                p {
                    font-weight: 400;
                    font-size: 24px;
                    line-height: 40px;

                }
            }
        }
    }

}