.menu {
    max-width: 1524px;
    padding-top: 117px;
    margin: 0 auto;
    @media (min-width: 320px) and (max-width: 767px) {
        padding-top: 40px;
    }

    h2 {
        text-align: center;
    }

    .menu-item {
        margin-top: 50px;
    }
}