.people-say {
    padding: 57px 0;
    background-image: url("../../images/backgrounds/people-say.jpg");
    background-repeat: no-repeat;
    background-size: cover;

    .reviews {
        max-width: 986px;
        margin: 0 auto;
        padding: 80px 75px;
        background-color: rgba(#ffffff, 0.8);
        text-align: center;
        @media (max-width: 767px) {
            padding: 50px 15px;
        }

        h2 {
            margin-bottom: 0;
        }

        article {
            margin-top: 80px;
            text-align: left;
            clear: both;

            img {
                @include user-select(none);
            }

            p {
                margin-top: 25px;
                font-weight: 400;
                @media (max-width: 767px) {
                    font-size: 16px;
                    line-height: 25px;
                    text-align: justify;
                }
            }

            span, time {
                float: right;
                font-family: "Open-Sans";
                font-weight: 300;
                font-style: italic;
                font-size: 18px;
                color: #6e6e6e;
            }

            span {
                margin-top: 10px;

                time {
                    margin-left: 5px;
                }
            }
        }

    }
}