.presentation {
    background-image: url("../../images/backgrounds/presentation.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;

    .container-1 {
        padding: 700px 0 120px;

        h1 {
            font-size: 61px;
            font-weight: 400;
            @media (min-width: 320px) and (max-width: 767px) {
                font-size: 30px;
            }
        }
        p {
            margin-top: 20px;
            font-size: 27px;
            font-weight: 400;
            @media (min-width: 320px) and (max-width: 767px) {
                font-size: 18px;
            }

        }
        .button {
            margin-top: 50px;
            padding: 0 48px;
            line-height: 80px;
        }
    }
}